* {
    padding: 0;
    margin: 0;
}

.display {
    font-family: monospace;
    font-size: 55px;
    text-align: right;
    vertical-align: bottom;
    line-height: 95px;
    flex: 1.2;
    background-color: #929c66;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    width: 400px;
    height: 500px;
    background-color: #3c3836;
    display: flex;
    flex-direction: column;
    border: 10px solid #3c3836;
}

.row {
    flex: 1;
    margin-bottom: 2px;
}

button {
    background-color: #458588;
    color: #fbf1c7;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    border-width: 0;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0px 1px;
    width: 95px;
    height: 75px;
}

#equals {
    width: 195px;
}

#delete {
    background-color: #cc241d;
}

.number,
#decimal {
    color: black;
    background-color: #c6bca8;
}

#clear {
    background-color: #d79921;
}

#all-clear {
    background-color: #689d6a;
}